.pc-wrapper {
  display: flex;
  align-items: center;
  min-height: 100vh;
  background-color: white;
}

.pc-container {
  margin-left: 200px;         /* Đẩy khung sang bên phải */
  margin-right: 100px;       /* Cách lề phải 100px */
  background: white;
  border-radius: 12px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.08);
  padding: 2rem;
  max-width: 400px;
  width: 100%;
}


.pc-container input {
  width: 100%;
  margin-bottom: 12px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.pc-container button {
  width: 100%;
  padding: 10px;
  background-color: orange;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.pc-container button:hover {
  background-color: orange;
}

.pc-title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 20px;
  color: #333;
}

.pc-message {
  margin-top: 10px;
  font-weight: bold;
  text-align: center;
}

.pc-success {
  color: green;
}

.pc-error {
  color: red;
}
.delete-btn {
  background-color: #d9534f;
  color: white;
  border: none;
  padding: 10px;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 4px;
}

.delete-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.delete-modal-content {
  background: white;
  padding: 25px;
  border-radius: 10px;
  width: 320px;
  text-align: center;
}

.delete-modal-actions button {
  margin: 10px;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.delete-modal-actions button:first-child {
  background-color: #d9534f;
  color: white;
}

.delete-modal-actions button:last-child {
  background-color: #6c757d;
  color: white;
}
